.section-lorem {
    @include adapt-section-padding(120, 144, 120, 144);
}


//start lorem info styles
.lorem-info {

    &__title {
        @include adaptiv-font(28, 36);
        line-height: 50px;
        text-align: center;
        letter-spacing: -0.015em;
        color: $col1;
        margin-bottom: 40px;
    }

    &__button-block {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__button-item {
        display: inline-block;
        width: 44px;
        height: 44px;
        background: url(../img/camera-lens.webp) 0 0/cover no-repeat;
        margin-bottom: 16px;
        transform: scale(1.4)
    }

    &__button-text {
        @include adaptiv-font(14, 18);
        line-height: 30px;
        letter-spacing: -0.015em;
        color: $col1;
    }
}
//end lorem info styles
